:root {
    --background: rgb(255, 255, 255);
    --navbar-background: rgb(223, 223, 223);
    --text-color: rgb(0, 0, 0);
    --navbar-hover: rgb(207, 207, 207);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(25, 25, 25);
        --navbar-background: rgb(27, 27, 27);
        --text-color:  rgb(255, 255, 255);
        --navbar-hover:  rgb(0, 0, 0);
    }
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar {
  width: 100%;
  background-color: var(--navbar-background);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: var(--text-color);
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: var(--navbar-hover);
}

.navbar a.active {
  background-color: var(--navbar-hover);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*ABOUT PAGE*/
div {
  font-size: large;
}

.center {
  margin: auto;
  width: 75%;
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
  text-align: center;
}